.wrap {
    width: 720px;
    max-width: 95vw;
    margin: 0 auto;
}
svg {
    width: 100%;
    height: auto;
    display: block;
}
.label {
    font-size: 18px;
    font-family: Arial, sans-serif;
    fill: #000;
    user-select: none;
}
.stroke {
    /* stroke: #000; */
    stroke-width: 1px;
    fill: #fff;
}

.centerRect {
    fill: #dbeeff;
}
.hit {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.25s ease;
}
.hit:hover {
    fill: rgba(116, 162, 208, 0.396);
    border: 1px solid #000;
    stroke: #837f7f;

}
.stroke:hover {
    stroke: #837f7f;
    stroke-width: 2.5px;
}
