* {
font-family: "Roboto", sans-serif;
}
.wrap {
    width: 720px;
    max-width: 95vw;
    margin: 0 auto;
}
svg {
    width: 100%;
    height: auto;
    display: block;
}
.label {
    font-size: 18px;
    fill: #000;
    user-select: none;
}
.stroke {
    /* stroke: #000; */
    stroke-width: 1px;
    fill: #fff;
}
.hit {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.25s ease;
}
.hit:hover {
    fill: rgba(116, 162, 208, 0.396);
    stroke: #837f7f;
    stroke-width: 1px;
}
.stroke:hover {
    stroke: #837f7f;
    stroke-width: 1px;
    fill: #dbeeff;
    cursor: pointer;
}
